<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Description of the page less than 150 characters">
	<title>TomateCRU - A pomodoro technique website</title>
</head>
<body>
	<header>
		{{> header}}
	</header>

	<main>

		<section class="hero">
			<p>texto exemplo</p>
		</section>

		
	</main>

	<footer>
		{{> footer}}
	</footer>
	

</body>
</html>